.InputTags .input-button {
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.1725);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.1725);
}

.InputTags .input-button input {
    font-size: 1rem;
    padding: 0.5rem;
    -ms-flex: 7 1;
    flex: 7 1;
    border: none;
    outline: none;
}

.InputTags .input-button .button {
    -ms-flex: 2 1;
    flex: 2 1;
    background: #60686f;
    color: white;
    font-weight: 600;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    font-size: 0.9rem;
    -webkit-transition: 0.05s all ease-in;
    -o-transition: 0.05s all ease-in;
    transition: 0.05s all ease-in;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.InputTags .input-button .button:hover {
    background: #868e96;
}

.InputTags .input-button .button:active {
    background: #555b61;
}

.InputTags .tags {
    margin-top: 0.5rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -0.25rem;
    margin-right: -0.25rem;
    max-height: 5.5rem;
    overflow-y: auto;
    position: relative;
}

.InputTags .tags .tag {
    margin: 0.25rem;
    padding: 0.25rem;
    padding-left: 0.5rem;
    padding-right: 0rem;
    font-size: 0.85rem;
    color: #212529;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    background: #e9ecef;
    font-weight: 500;
    word-break: break-all;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.1725);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.1725);
    border-radius: 6px;
}

.InputTags .tags .tag .remove {
    font-size: 0.9rem;
    color: #868e96;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
}

.InputTags .tags .tag .remove:hover {
    cursor: pointer;
    color: #c92a2a;
}



// WEBPACK FOOTER //
// ./src/components/write/InputTags/InputTags.scss
